<div class='col-md-12 navbar navbar-inverse navbar-static-top'>
  <h1 class='navbar-brand'>Welcome to the Robot page!!!</h1>
</div>

<div class='col-md-6'>
<ul>
  <li><a href="/robots"><h1>Robot Index</h1></a></li>
  <li><a href="/robots/new"><h1>Create New Robot</h1></a></li>
</ul>
</div>
