<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/application.css">
  <style>
  body  {background-image: url("http://news.psu.edu/sites/default/files/styles/threshold-992/public/Hollywood%20Robots%20iStock%20jpgfactory.jpg?itok=NYMdeT-6") ;}
  </style>
  <title>My Sinatra Application</title>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
